<h1>Bem vindo meu nobre <%= @meu_nome %>!</h1>
<p>Voce está realizando o curso de <strong><%= @meu_curso%></strong></p>
<%= render "menu" %>
<%= render "menu" %>
<%= render "menu" %>

<p>Voce está no ambiente de <strong><%= rails_ambient_ptbr %><strong></p>
