<div id="<%= dom_id mining_type %>" style="margin:10px">
<p>
    <strong><%= t('mPage.type')%></strong>
    <%= mining_type.description %>
  </p>

  <p>
    <strong><%= t('mPage.acronym')%></strong>
    <%= mining_type.acronym %>
  </p>

</div>
