<p style="color: green"><%= notice %></p>

<h1><%= t('title.minerPage')%></h1>
<%= link_to t('links.back'), root_path, class:"btn btn-info" %>
<%= link_to t('title.newMiner'), new_mining_type_path, class:"btn btn-success" %>
<div id="mining_types" style="display:flex">
  <% @mining_types.each do |mining_type| %>
    <div class="card text-center mb-3" style="width: 18rem; margin: 10px">
      <%= render mining_type %>
      <p>
        <%= link_to t('mPage.show'), mining_type, class:"btn btn-success" %>
      </p>
    </div>
  <% end %>
</div>


