<%= link_to coin, class: "coin card mb-3 text-center", style: "width: 10rem;" do %>
  <div id="<%= dom_id coin %>" class="card-body">
    <p>
      <%= image_tag coin.url_image, width: "100%" %>
    </p>

    <p class="card-text">
      <strong><%= coin.description %></strong> | <%= coin.acronym %>
    </p>
  </div>
<% end %>
